@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-post {
  @include mixin.dbg-bgcolor(red, 1);
  width: 100%;
  height: 100vh;
  min-width: 165px;
  min-height: 165px;
  padding: 12px 5px 5px;

  &__area {
    @include mixin.dbg-bgcolor(green, 1);
    width: 100%;
    height: 100%;
    color: variable.$color-basefont;
    font-size: 12px;
    resize: none;
  }
}


